<section id="articleHero" class="section narrow">
    <div class="article-hero">
        <header class="article-header">
            <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
            <div class="article-hero-subtitle">
                <div class="article-meta">
                    {{ partial "article/authors.html" . }}
                    Publié le {{ .Page.Date.Day }}{{ if eq .Page.Date.Day 1}}er{{ end }} {{ index $.Site.Data.mois (printf "%d" .Page.Date.Month) }} {{ (printf "%.4d" .Page.Date.Year) }} • {{ .ReadingTime }} minute{{ if gt .ReadingTime 1}}s{{ end }}
                </div>
            </div>
        </header>
        {{ with .Page.Params.hero }}
        <div class="article-hero-image" id="ArticleImage__Hero">
            <img src="{{ . }}">
        </div>
        {{ end }}
    </div>
</section>
